body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main {
  background-color: aqua;
  border: 5px solid black;
  padding: 5px;
  height: 960px;
  width: 960px;
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
}

.grid-size {
  background-color: greenyellow;
  border-radius: 15px;
  border: 8px double black;
  width: 150px;
  height: 50px;
}
